In [56]:
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans

In [57]:
file_path = "/Users/lexiec/Desktop/Analysis_Projects/Cryptocurrencies/Resources/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [58]:
new_iris_df = iris_df.drop(['class'], axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [59]:
new_iris_df = new_iris_df.reindex(['sepal_length', 'petal_length', 'sepal_width', 'petal_width'], axis=1)
new_iris_df.head()

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [60]:
output_file_path = "/Users/lexiec/Desktop/Analysis_Projects/Cryptocurrencies/Resources/new_iris_data.csv"
new_iris_df.to_csv(output_file_path, index=False)

In [61]:
# Data loading
file_path = "/Users/lexiec/Desktop/Analysis_Projects/Cryptocurrencies/Resources/shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")
df_shopping.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [62]:
# Columns
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [63]:
# List dataframe data types
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [64]:
# Find null values
for column in df_shopping.columns:
    print(f"Column{column} has {df_shopping[column].isnull().sum()} null values")

ColumnCustomerID has 0 null values
ColumnCard Member has 2 null values
ColumnAge has 2 null values
ColumnAnnual Income has 0 null values
ColumnSpending Score (1-100) has 1 null values

In [65]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [66]:
# Find duplicate entries
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [67]:
# Remove the CustomerID Column
df_shopping.drop(columns=['CustomerID'], inplace=True)
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [68]:
# Transform String column
def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0
    
df_shopping["Card Member"] = df_shopping["Card Member"].apply(change_string)
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [69]:
# Transform annual income
df_shopping["Annual Income"] = df_shopping["Annual Income"] / 1000
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0           15.0                    39.0
1            1  21.0           15.0                    81.0
2            0  20.0           16.0                     6.0
3            0  23.0           16.0                    77.0
4            0  31.0           17.0                    40.0

In [48]:
# Saving cleaned data
file_path = "/Users/lexiec/Desktop/Analysis_Projects/Cryptocurrencies/Resources/shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)

In [70]:
# Loading data
file_path = "/Users/lexiec/Desktop/Analysis_Projects/Cryptocurrencies/Resources/new_iris_data.csv"
df_iris = pd.read_csv(file_path)
df_iris.head(10)

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2
5           5.4           1.7          3.9          0.4
6           4.6           1.4          3.4          0.3
7           5.0           1.5          3.4          0.2
8           4.4           1.4          2.9          0.2
9           4.9           1.5          3.1          0.1

In [71]:
# Initializing model with K = 3 (since we already know there are three classes of iris plants)
model = KMeans(n_clusters=3, random_state=5)
model

KMeans(n_clusters=3, random_state=5)

In [30]:
# Get the predictions
predictions = model.predict(df_iris)
print(predictions)

NotFittedError: This KMeans instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.